<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <title>DockerScripts</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>DockerScripts</h1>
        <h2>A shell script framework for Docker.</h2>

        <section id="downloads">
          <a href="ds-1.0/" class="btn">DockerScripts 1.0</a>
          <a href="ds-1.0/man/" class="btn">DS-1.0 man page</a>
          <a href="https://github.com/docker-scripts/ds" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">

        {{content}}

      </section>
    </div>


  </body>
</html>
