<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/print.css" media="print">

    <title>DockerScripts</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>DockerScripts 1.0</h1>
        <h2>A shell script framework for Docker.</h2>

        <section id="downloads">
          <a href="https://github.com/docker-scripts/ds/zipball/ds-1.0" class="btn">Download as .zip</a>
          <a href="https://github.com/docker-scripts/ds/tarball/ds-1.0" class="btn">Download as .tar.gz</a>
          <a href="https://github.com/docker-scripts/ds/tree/ds-1.0" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">

        {{content}}

      </section>
    </div>


  </body>
</html>
